{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'appz/css/calculator.css' %}" />
    <title>Calculator - By Toolsphere</title>
  </head>
  <body>
    <!-- Go Back button in the top-left corner -->
    

    {% if user.is_authenticated %}
    <a href="{% url 'home' %}" class="back-button">Go Back</a>
{% else %}
    <a href="{% url 'user_login' %}" class="back-link">← Login to Access Tools</a>
{% endif %}
    <div class="container">
      <!-- Heading for the Calculator -->
      <h1 class="heading">Calculator</h1>
      
      <div class="calculator">
        <input type="text" id="inputBox" placeholder="0" />
        <div>
          <button class="button operator">AC</button>
          <button class="button operator">DEL</button>
          <button class="button operator">%</button>
          <button class="button operator">/</button>
        </div>
        <div>
          <button class="button">7</button>
          <button class="button">8</button>
          <button class="button">9</button>
          <button class="button operator">*</button>
        </div>
        <div>
          <button class="button">4</button>
          <button class="button">5</button>
          <button class="button">6</button>
          <button class="button operator">-</button>
        </div>
        <div>
          <button class="button">1</button>
          <button class="button">2</button>
          <button class="button">3</button>
          <button class="button operator">+</button>
        </div>
        <div>
          <button class="button">00</button>
          <button class="button">0</button>
          <button class="button">.</button>
          <button class="button equalBtn">=</button>
        </div>
      </div>
    </div>

    <script src="{% static 'appz/js/calculator.js' %}"></script>
  </body>
</html>
